<div class="row content-body">
  <%= render "layouts/sidebar" %>
  <div class="col-md-9 col-lg-8">
    <div class="row heading pr-3">
      <h2 class="mr-3">New post</h2>
      <p><ruby>新規投稿<rt>しんきとうこう</rt></ruby></p>
      <div class="ml-auto">
        <%= link_to posts_drafts_path do %>
          Draft <small>下書き</small>
        <% end %>
      </div>
    </div>
    <div class="mt-2 mb-4">
      <%= render "form", post: @post %>
    </div>
  </div>
  <%= render "public/searches/search" %>
</div>