<div class="row">
  <div class="d-none d-md-block col-md-2 bg-light">
    <%= render "layouts/sidebar" %>
  </div>

  <div class="col-md-8">
    <%= render "show", post: @post %>

  </div>

  <div class="col-md-2 bg-light">
    <%= render "public/searches/search" %>
  </div>
</div>