<div class="row content-body">
  <%= render "layouts/sidebar" %>

  <div class="col-md-9 col-lg-8 pb-3">
    <%= render "show", post: @post, comment: @comment %>
  </div>

  <%= render "public/searches/search" %>
</div>