<div class="form-group">
  <%= form_with model: [@post, @comment], local: false, id:"comment-form", method: :post do |f|%>
    <%= f.text_area :content, class: "form-control mb-1", "rows" => "2" %>
    <%= f.submit "Submit" %>
  <% end %>
</div>