<% if user.followed_by?(current_user) %>
  <% if user.is_friend_with?(current_user) %>
    <div id="chat-btn" class="btn btn-sm btn-dark">
      <%= render "public/users/chat", user: user %>
    </div>
  <% end %>
  <%= link_to "Unfollow", user_relationship_path(user.id), remote: true, method: :delete, class: "btn btn-sm btn-outline-dark" %>
<% elsif user != current_user %>
  <%= link_to "Follow", user_relationship_path(user.id), remote: true, method: :post, class: "btn btn-sm btn-outline-dark" %>
<% end %>
