<div class="chat-screen small mx-auto">
  <div class="heading border-bottom">
    <h3 class="mr-3"><%= user.name %></h3>
  </div>
  <div class="mx-width-50 mx-auto">
    <div class="messages">
      <%= render "messages", messages: messages %>
    </div>
  </div>
</div>