<div class="row content-body">
  <div class="d-none d-md-block col-md-2 bg-light">
    <%= render "layouts/sidebar" %>
  </div>

  <div class="col-md-8">
    <%= render "chat", room: @room,
                      messages: @messages,
                      message: @message,
                      user: @user %>
  </div>

  <div class="d-none d-md-block col-md-2 bg-light">
    <%= render "public/searches/search" %>
  </div>
</div>