<div class="row">
    <%= render "layouts/sidebar" %>

  <div class="col-md-8 content-body">
    <%= render "chat", room: @room,
                      message: @message,
                      user: @user %>
  </div>

  <div class="d-none d-md-block col-md-2 bg-light">
    <%= render "public/searches/search" %>
  </div>
</div>