<div class="d-none d-lg-block col-lg-2 bg-light">
  <div class="bg-light p-2">
    <h4>Explor <small>検索</small></h4>
    
    <div class="user py-2">
      <h5>Users <small>ユーザー<ruby>検索<rt>けんさく</rt></ruby></small></h5>
      <%= render "public/searches/users" %>
    </div>
    <hr>
    <div class="keyword py-2">
      <h5>Posts <small><ruby>投稿検索<rt>とうこうけんさく</rt></ruby></small></h5>
        <%= render "public/searches/posts" %>
    </div>
  
  </div>
</div>