<div class="admin-body mx-auto">
  <div class="container py-3 mx-auto">
    <h4 class="text-center">Community Guidelines</h4>
    <p class="text-center">コミュニティ規則</p>

    <div class="my-5">
      <p><strong>NELC</strong> is an online community that enable people to connect with each other and create blog contents
        in order to provide language learners oppotunities to improve their language skills.
        To keep NELC a safe and comfortable place for all users, please follow our policies.
      </p>
      <ul>
        <li>Respect other users's privacy and protect your own. Do not share private or personal information in public area.</li>
        <li>Do not post and/or share contents that can be considered defamatory, descriminatory, unlawful.
        This includes references about religion, race, sexualy orientation, gender, ethnic origin, or other targeted groups.</li>
        <li>Do not sell or buy products or services. This includes affiliate marketing.</li>
        <li>Your contents must be authentic and original. Do not post anything you have copied or do not have the right to post.</li>
      </ul>
      <p>NELC may take action, including removal of posts and comments, and termination of any account that violates above policies.</p>
      <hr>
      <div class="japanese small">
      <p><strong>NELC</strong>はユーザー同士のコミュニケーションや記事の投稿などを通して、語学学習者の学習を応援するコミュニティサイトです。
        よりよいコミュニティづくりのために、下記のユーザーポリシーを守ってご利用ください。
      </p>
      <ul>
        <li>他のユーザーのプライバシーを尊重すること。また、不特定多数のユーザーが閲覧できるエリアにおいて個人を特定できる情報を共有しないこと。</li>
        <li>宗教、人種、性的思考などによる特定のグループの人をターゲットとした内容を含む、誹謗中傷や差別的な内容の投稿・発言をしないこと。</li>
        <li>商品やサービスの売買を行わないこと。また、アフィリエイトを含む投稿も禁止する。</li>
        <li>他人の知的所有権を侵害する投稿を行わない。</li>
      </ul>
      <p>上記のガイドライン違反が確認された場合は、投稿・コメントの削除、およびアカウントの利用停止をさせていただく可能性があります。</p>
      </div>
    </div>
  </div>
</div>