<div class="admin-body mx-auto">
    <div class="row heading">
      <h2>Open Reports</h2>
      <p class="mb-0 ml-auto pr-3"><%= link_to "See all reports", admin_reports_path %></p>
    </div>
    <%= render "index", reports: @reports %>
    <div class="row justify-content-center">
      <%= paginate @reports %>
    </div>
</div>