<div class="row content-body">
  <%= render "layouts/sidebar" %>

  <div class="col-md-9 col-lg-10">
    <div class="row heading">
      <h2>New Reports</h2>
      <p class="mb-0 ml-auto pr-3"><%= link_to "See all reports", admin_reports_path %></p>
    </div>
    <%= render "index", reports: @reports %>
    <div class="row justify-content-center">
      <%= paginate @reports %>
    </div>
  </div>
</div>