/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
/* 全体レイアウト */
a{
  color: inherit;
}

a:visited{
  color:inherit;
}

a:hover{
  color:inherit;
}

header, footer{
  background-color: #4D8880;
  color: white;
}

html{
  position: relative;
  min-height: 100%;
}

main{
  padding-top: 60px;
  padding-bottom: 50px;
  min-height: 100vh;
}

footer{
  position: fixed;
  bottom: 0;
  margin-bottom: 0;
  width: 100%;
  height: 50px;
}


/* 色・背景色 */
.content-body{
  min-height: 85vh;
}

.admin-body{
  min-height: 100vh;
  padding: 0 20px;
  max-width: 900px;
  background-color: white;
  font-size: small;
}

.bg-white{
  background-color: white;
}

.bg-myrtle{
  background-color: #76A29C;
}

.bg-myrtle-darker{
  background-color: #4D8880;
  color: white;
}

.bg-myrtle-dark{
  background-color: #346F67;
  color: white;
}

.myrtle-darker{
  color: #4D8880;
}

.btn-myrtle{
  background-color: #4D8880;
  border: 1px solid #346f67;
  border-radius: 5px;
  padding-left: 8px;
  padding-right: 8px;
}

.btn-myrtle:hover{
  background-color: #142c29;
  color: white;
}

.btn-outline-myrtle{
  border: 1px solid #346F67;
  border-radius: 5px;
  padding-left: 8px;
  padding-right: 8px;
  color: #4D8880;
}

.btn-outline-myrtle:hover{
  background-color: #346F67;
  color: white;
}

.nav-link:hover{
  color: #1d3632;
}

.navbar a{
  text-decoration: none;
}


.top-image{
  max-height: 40vh;
  max-width: 100%;
}

.text-box{
  padding: 0.5em 1em;
  background: #f7f9f8;
  border: solid 1px #346F67;
  border-radius: 3px;
}

.divider{
  height: 200px;
  margin: auto;
  border-left: 0.5px solid #eeeeee;
}


/* サイズ・ポジション */

.mx-width-50{
  max-width: 500px;
}

.img-border{
  border: 2px solid #fff;
}

.heading{
  margin-top: 10px;
  margin-left: 10px;
}

.flag{
  height: 20px;
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
}


/* アイテムごとの詳細レイアウト*/
.flex-user-cards{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.user-card{
  width: 8.5rem;
  text-align: center;
  display: inline-block;
  margin-bottom: 5px;
}

.user-card:hover{
  background-color: #f7f9f8;
}

.post-content{
  min-height: 500px;
  padding: 20px;
  font-size: small;
}

.comment{
  background-color: white;
}

.chat-form-area{
  height: 100px;
}

.chat-field{
  max-width: 550px;
  background-color: #fff;
  height: 50px;
}

.conversation{
  max-height: 70vh;
  margin-top: 5px;
  margin-bottom: 10px;
  /* スクロールバーの非表示*/
  -scrollbar-width: none; /*Firefox*/
  -ms-overflow-style: none;/*Internet Explore*/
}
.conversation::-webkit-scrollbar {
  display: none; /*Google Chrome、Safari、Microsoft Edge*/
}

.message-from{
  background-color: white;
  border-radius: 5px;
  padding: 5px 8px 5px;
  margin-bottom: 8px;
  text-align: right;
}
.message-from p{
  margin-bottom: 0;
}

.message-to{
  background-color: #4D8880;
  color: white;
  border-radius: 5px;
  padding: 5px 8px 5px;
  margin-bottom: 8px;
}

.message-to p{
  margin-bottom: 0;
}
.message-to small{
  color: #F5F5F5;
}

.notification-badge{
  font-size: x-small;
  color: black;
  display: inline-block;
  text-align: center;
  width: 15px;
  background-color: #ffbf00;
  border-radius: 15px;
  vertical-align: text-top;
}

.trash-btn{
  font-size: 12px;
}

.top-lead-en{
  font-family: "Trebuchet MS", "Lucia Grande", Arial, Sans-serif;
  font-size: 46px;
  text-shadow: 3px 2px 0 #fff;
}

.top-lead-ja{
  font-family: "Trebuchet MS", "Lucia Grande", Arial, Sans-serif;
  font-size: 38px;
  text-shadow: 3px 2px 0 #fff;
}

.no-content{
  color: #76A29C;
}

.new-message{
  color: #ffbb33;
  font-size: 8px;
}

.delete-btn{
  display: none;
}

.delete-user input[type="checkbox"]:checked + .delete-btn{
  display: block;
}

