/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
/* 全体レイアウト */
a{
  color: inherit;
}

a:visited{
  color:inherit;
}

a:hover{
  color:inherit;
}

body{
  background-color: #76A29C;
  padding-top: 55px;
  padding-bottom: 50px;
}

header, footer{
  background-color: #4D8880;
  color: white;
}


/* 色・背景色 */

.main-content{
  background-color: rgba(255,255,255, 0.8);
}


.bg-myrtle{
  background-color: #76A29C;
}

.bg-myrtle-darker{
  background-color: #4D8880;
}

.bg-myrtle-dark{
  background-color: #346F67;
}

.btn-myrtle{
  background-color: #76A29C;
  color: white;
  border: 1px solid #346F67;
  border-radius: 5px;
  padding-left: 8px;
  padding-right: 8px;
}



/* サイズ・ポジション */

.mx-width-50{
  max-width: 500px;
}
