<div id="accordion">
  <div>
    <div id="headingFriends">
      <div class="d-flex">
        <p class="my-auto ml-2">Friends</p>
        <button class="btn collapsed ml-auto" data-toggle="collapse" data-target="#friends" aria-expanded="true" aria-controls="friends">
          <i class="fas fa-angle-down"></i>
        </button>
      </div>
    </div>
    <div id="friends" class="collapse" aria-labelledby="headingFriends" data-parent="#accordion">
      <%= render "layouts/sidebar/friends" %>
    </div>
  </div>

  <div>
    <div id="headingPosts">
      <div class="d-flex">
        <p class="my-auto ml-2">Posts</p>
        <button class="btn collapsed ml-auto" data-toggle="collapse" data-target="#Posts" aria-expanded="true" aria-controls="Posts">
          <i class="fas fa-angle-down"></i>
        </button>
      </div>
    </div>
    <div id="Posts" class="collapse" aria-labelledby="headingPosts" data-parent="#accordion">
      <%= render "layouts/sidebar/posts" %>
    </div>
  </div>

  <div>
    <div id="headingChat">
      <div class="d-flex">
        <p class="my-auto ml-2">Chat</p>
        <button class="btn collapsed ml-auto" data-toggle="collapse" data-target="#Chat" aria-expanded="true" aria-controls="Chat">
          <i class="fas fa-angle-down"></i>
        </button>
      </div>
    </div>
    <div id="Chat" class="collapse" aria-labelledby="headingchat" data-parent="#accordion">
      <%= render "layouts/sidebar/rooms" %>
    </div>
  </div>
</div>