<div class="container bg-light">
  <h2>All users</h2>


  <div class="container py-2">
    <div class="row mb-2 border-bottom">
      <div class="col-1">id</div>
      <div class="col-6">User name</div>
      <div class="col-4">Status</div>
    </div>
    <% @users.each do |user| %>
      <%= link_to admin_user_path(user) do %>
        <div class="row mb-2">
          <div class="col-1"><%= user.id %></div>
          <div class="col-1"><%= image_tag user.get_profile_image(30,30), class: "rounded rounded-circle" %></div>
          <div class="col-5"><%= user.name %></div>
          <div class="col-4">
            <% if user.is_deactivated? %>
              <div class="text-danger">Deactivated</div>
            <% else %>
              Active
            <% end %>
          </div>
        </div>
      <% end %>
    <% end %>
  </div>
</div> 