<div class="row">
  <div class="d-none d-md-block col-md-2 bg-light">
    <%= render "layouts/sidebar" %>
  </div>

  <div class="col-md-8">
    <div class="row heading">
      <h2 class="mr-3">Edit profile</h2>
      <p>プロフィール<ruby>編集<rt>へんしゅう</rt></ruby></p>
    </div>
    <div class="my-4">
      <%= render "edit", user: @user %>
    </div>
  </div>

  <div class="col-md-2 bg-light">
    <%= render "public/searches/search" %>
  </div>
</div>