<div class="row content-body">
  <%= render "layouts/sidebar" %>

  <div class="col-md-9 col-lg-8">
    <div class="row heading">
      <h2 class="mr-3">Edit profile</h2>
      <p>プロフィール<ruby>編集<rt>へんしゅう</rt></ruby></p>
    </div>
    <div class="my-4">
      <%= render "edit", user: @user %>
    </div>
  </div>

  <%= render "public/searches/search" %>
</div>