<div class="row content-body">
  <%= render "layouts/sidebar" %>

  <div class="col-md-9 col-lg-8">
    <div class="row heading">
      <h2 class="mr-3">Users</h2>
      <p>ユーザー<ruby>一覧<rt>いちらん</rt></ruby></p>
    </div>
    <%= render "index", users: @users %>
    <div class="row justify-content-center my-4">
      <%= paginate @users %>
    </div>
  </div>

  <%= render "public/searches/search" %>
</div>