<%= link_to notifications_path do %>
  <i class="fas fa-bell"></i>
  <% if current_user.passive_notifications.alerts.any? %>
    <span class="notification-badge"><%= current_user.passive_notifications.alerts.size %></span>
  <% end %>
<% end %>